.popular__container {
  padding: 1rem 0 5rem;
}

// @media screen and(min-width:767px) {
//   .popular__card {
//     background-color: aqua;
//   }
// }

.popular__card {
  width: 290px;
  background-color: var(--container-color);
  padding: 0.5rem 0.5rem 1.5rem;
}

@media screen and(max-width:767px) {
  .popular__image {
    width: 380px;
    margin-left: -5px;
  }

  .popular__card {
    width: 500px;
    margin-left: -80px;
  }
}

@media screen and(min-width:1023px) {
  .popular__image {
    margin-left: -8px;
  }
}

.popular__image {
  border-radius: 1rem;
  margin-bottom: 1rem;
  // margin-left: -8px;
}

.popular__data {
  padding: 0 1rem 0 0.5rem;
}

.popular__price {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.span__style {
  color: hsl(25, 83%, 53%);
}

.popular__title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  font-weight: bolder;
}

.popular__description {
  font-size: 0.75rem;
}

.popular__card:hover {
  box-shadow: 0 12px 16px hsla(228, 66%, 45%, 0.15);
}
