<section class="popular section" id="popular">
  <div class="">
    <span class="section__subtitle"></span>

    <div class="popular__container">
      <div class="row">
        <article class="popular__card col-md-3 col-xs-3">
          <img
            *ngIf="property.photo"
            src="{{ property.photo }}"
            class="popular__image"
          />

          <img
            *ngIf="!property.photo"
            src="assets/images/interior-2.jpg"
            class="popular__image"
            routerLink="/property-detail/{{ property.id }}"
          />

          <button
            class="btn"
            style="float: right; color: rgb(189, 123, 0)"
            routerLink="/property-detail/{{ property.id }}"
          >
            Read More
            <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <button
            class="btn"
            style="float: right; color: rgb(189, 123, 0)"
            routerLink="/edit-property/{{ property.id }}"
            *ngIf="isUserlogin"
          >
            Edit
            <i class="fa-solid fa-pen-to-square"></i>
          </button>

          <div class="popular__data">
            <h2 class="popular__price">
              <span class="span__style">$</span> {{ property.price }}
            </h2>

            <h3 class="popular__title">{{ property.name }}</h3>
            <p class="popular__description">{{ property.description }}</p>

            <p class="popular__description" *ngIf="property.sellRent == 1">
              Available for: Purchase
            </p>
            <p class="popular__description" *ngIf="property.sellRent == 2">
              Available for:Rent
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
