<section class="popular section" id="popular">
  <div class="">
    <span class="section__subtitle"></span>

    <div
      class="popular__container"
      routerLink="/property-detail/{{ property.id }}"
      style="cursor: pointer"
    >
      <div class="row">
        <article class="popular__card col-md-3 col-xs-3">
          <img
            *ngIf="property.photo"
            src="{{ property.photo }}"
            class="popular__image"
          />

          <img
            *ngIf="!property.photo"
            src="assets/images/interior-2.jpg"
            class="popular__image"
            routerLink="/property-detail/{{ property.id }}"
          />

          <!-- <button
            class="btn"
            style="float: right; color: rgb(189, 123, 0)"
            routerLink="/property-detail/{{ property.id }}"
          >
            Read More
            <i class="fa-solid fa-pen-to-square"></i>
          </button> -->

          <!-- <button
            class="btn"
            style="float: right; color: rgb(189, 123, 0)"
            routerLink="/edit-property/{{ property.id }}"
            *ngIf="isUserlogin"
          >
            Edit
            <i class="fa-solid fa-pen-to-square"></i>
          </button> -->

          <div class="popular__data">
            <h6 class="" style="display: inline">
              <i class="fa fa-map-marker"> </i> {{ property.city }},
            </h6>
            <h6 class="" style="display: inline">
              {{ property.country }}
            </h6>
            <p
              style="
                display: inline;
                float: right;
                color: rgb(198, 122, 75);
                font-size: 13px;
                margin-top: 3px;
              "
            >
              {{ property.builtArea }} Sq Ft
            </p>
            <h4 class="popular__price">
              <span class="span__style"> $</span>{{ property.price }}
            </h4>

            <!-- <p style="font-size: 15px">{{ property.name }}</p> -->
            <h6 class="" style="color: rgb(0, 0, 0)">
              <p
                style="
                  display: inline;
                  color: rgb(126, 126, 126);
                  font-size: 14px;
                "
              >
                Type:
              </p>
              {{ property.propertyType }}
            </h6>
            <h6 class="popular__description" *ngIf="property.sellRent == 1">
              <p style="color: rgb(198, 122, 75); display: inline">
                Available for:
              </p>
              Purchase
            </h6>
            <h6 class="popular__description" *ngIf="property.sellRent == 2">
              <p style="color: rgb(198, 122, 75); display: inline">
                Available for
              </p>
              : Rent
            </h6>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
