<div class="wrapper">
  <div class="card text-center">
    <div class="image">
      <img
        src="../../assets/images/teamWork.jpeg"
        width="90%"
        height="250"
        style="margin-top: 20px"
      />
    </div>

    <div class="about-product text-center">
      <h3>Meet our team of developers</h3>

      <h4>
        UI, UX, WEB, MOBILE <small> <i class="bx bx-webcam"></i>RE</small>
      </h4>

      <button class="btn btn-success buy-now" style="margin-bottom: -20px">
        See our team details here
      </button>
    </div>
  </div>
</div>
