<div class="container" style="margin-top: 10px">
  <div class="row shadow">
    <div class="col-sm-4 p-0">
      <div class="card">
        <div class="card-img-wrapper">
          <img
            *ngIf="mainPhotoUrl"
            class="card-img-top"
            src="{{ mainPhotoUrl }}"
          />
          <img
            *ngIf="!mainPhotoUrl"
            class="card-img-top"
            src="assets/images/interior.jpg"
          />
        </div>
        <div class="card-body">
          <h1 class="card-title">{{ property.name }}</h1>
          <hr />
          <div>
            <strong
              >{{ property.bhk }} BHK {{ property.propertyType }} at ${{
                property.price
              }}</strong
            >
          </div>
          <div>
            <strong>in {{ property.city }}</strong>
          </div>

          <div>
            <strong>Built Area:</strong>
            {{ property.builtArea }} Sqft
          </div>

          <div>
            <strong>Carpet Area:</strong>
            {{ property.carpetArea }} Sqft
          </div>

          <div>
            <strong>Furnishing Type:</strong>
            {{ property.furnishingType }}
          </div>
          <div>
            <strong>Available for: </strong>
            <span *ngIf="property.sellRent == 1">Purchase</span>
            <span *ngIf="property.sellRent == 2">Rent</span>
            <!-- {{ property.sellRent }} -->
          </div>
        </div>
        <button
          class="btn btn-outline-info"
          routerLink="/edit-property/{{ property.id }}"
        >
          Edit this property
        </button>
      </div>
    </div>
    <div class="col-sm-8 p-0">
      <div class="tab-panel p-3">
        <tabset class="membet-tabset">
          <tab heading="Overview">
            <h2 style="margin-bottom: 20px">Property Overview</h2>
            <div class="row">
              <div class="col-sm-6">
                <div class="heading">
                  <strong>Project Name:</strong>
                  <p>{{ property.name }}</p>
                </div>
                <hr />

                <div class="heading">
                  <strong>Floor Number:</strong>
                  <p>{{ property.floorNo }} of {{ property.totalFloors }}</p>
                </div>
                <hr />

                <div class="heading">
                  <strong>Age of Property:</strong>
                  <p>{{ property.age }}</p>
                </div>
                <hr />
                <div class="heading">
                  <strong>Possession:</strong>
                  <p>{{ property.estPossessionOn | date }}</p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="heading">
                  <strong>Main Entrance:</strong>
                  <p>{{ property.mainEntrance }}</p>
                </div>
                <hr />

                <div class="heading">
                  <strong>Gated Community:</strong>
                  <p *ngIf="property.gated">Yes</p>
                  <p *ngIf="!property.gated">No</p>
                </div>
                <hr />

                <div class="heading">
                  <strong>Security Deposit:</strong>
                  <p>{{ property.security }}</p>
                </div>
                <hr />

                <div class="heading">
                  <strong>Maintenance:</strong>
                  <p>{{ property.maintenance }}</p>
                </div>
                <hr />

                <div class="heading">
                  <strong>About Property:</strong>
                  <p>{{ property.description }}</p>
                </div>
              </div>
            </div>
          </tab>

          <tab heading="Address">
            <div class="col-sm-12">
              <h2 style="margin-bottom: 20px">Address</h2>
              <div class="heading">
                <strong>Address 1:</strong>
                <p>{{ property.address }}</p>

                <hr />
                <strong>Address 2:</strong>
                <p>{{ property.address2 }}</p>

                <hr />
                <strong>City:</strong>
                <p>{{ property.city }}</p>
              </div>
            </div>
          </tab>

          <tab heading="Photos">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
              class="ngx-gallery"
            ></ngx-gallery>
          </tab>

          <tab heading="Contact">
            <h1>Contact Details</h1>
            This should be restricted area and only registered users should be
            able to see seller details
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
