<div class="container">
  <!-- <label>Filter City: &nbsp; </label>
  <input (keyup)="(City)" />
  <button
    type="button"
    (click)="onCityFilter()"
    class="btn btn-primary"
    style="margin-left: 15px"
  >
    Search <i class="fas fa-search" style="margin-left: 10px"></i>
  </button>
  <button
    type="button"
    (click)="onCityFilterClear()"
    class="btn btn-outline-secondary"
    style="margin-left: 20px"
  >
    Clear
  </button> -->

  <!-- <label style="margin-left: 15px">Sort by &nbsp;</label>
  <select [(ngModel)]="SortbyParam">
    <option value="City">City</option>
    <option value="Price">Price</option>
  </select>
  <button
    class="btn btn-success"
    type="button"
    (click)="onSortDirection()"
    style="margin-left: 10px"
  >
    <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
  </button> -->
  <h3>Properties up for PURCHASE</h3>
  <h5>Find your ideal property to buy to fullfill your needs .</h5>

  <form class="home__search">
    <i class="bx bxs-map"></i>
    <input
      type="search"
      placeholder="type something... "
      class="home__search-input"
    />
    <button class="button">Search</button>
  </form>

  <div class="container properties">
    <div class="row">
      <!--klasa col-lg-2 col-md-6 mb-2 per 6 cards ne nje row ;)-->
      <div class="col-md-3 col-xs-3" *ngFor="let property of properties">
        <app-propertyUser [property]="property"></app-propertyUser>
      </div>
    </div>
  </div>

  <!--
  <div class="container">
    <div class="row">
      <div
        *ngFor="
          let property of properties
            | filter: SearchCity:'City'
            | sort: [SortbyParam, SortDirection]
        "
        class="col-sm-4"
      >
        <div class="shadow-lg p-3 mb-4">
          <app-property-card [property]="property"></app-property-card>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
