<div class="container-fluid justify-content-center p-0 mx-0">
  <footer style="border-top: 1px solid rgb(209, 209, 209)">
    <div class="card border-0">
      <div class="card-body px-5">
        <div class="row justify-content-around mb-0 pt-5">
          <div class="col-xl-3 col-md-6 col-sm-6 col-12 my-auto">
            <ul class="list-unstyled mt-md-3 mt-5">
              <li><p class="mb-4">Resources</p></li>
              <li>
                <div class="card card-1 border-0">
                  <div class="card-body p-0 pl-3">
                    <h6 class="mb-3"><b>Diellza Kosumi</b></h6>
                    <small
                      ><i
                        class="bx bxs-message-detail"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      diellzakosumi@gmail.com</small
                    ><br />
                    <small
                      ><i
                        class="bx bxs-phone"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      (383) 45-587-451</small
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12 my-auto">
            <ul class="list-unstyled mt-md-3 mt-5">
              <li><p class="mb-4">About Us</p></li>
              <li>
                <div class="card card-1 border-0">
                  <div class="card-body p-0 pl-3">
                    <h6 class="mb-3"><b>Our Team</b></h6>
                    <small
                      ><i
                        class="bx bxs-user"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      Meet our Developers</small
                    ><br />
                    <small
                      ><i
                        class="bx bxs-book-content"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      Meet our Designers</small
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12 my-auto">
            <ul class="list-unstyled mt-md-3 mt-5">
              <li><p class="mb-4">Help</p></li>
              <li>
                <div class="card card-1 border-0">
                  <div class="card-body p-0 pl-3">
                    <h6 class="mb-3"><b>HR~Support</b></h6>
                    <small
                      ><i
                        class="bx bxs-message-rounded-detail"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      hr@dk-realestate.com</small
                    ><br />
                    <small
                      ><i
                        class="bx bxs-phone-off"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      +(383) 43-889-998</small
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-xl-auto col-md-6 col-sm-6 col-12 my-auto">
            <ul class="list-unstyled mt-md-3 mt-5">
              <li><p class="mb-4">For technical issue contact</p></li>
              <li>
                <div class="card card-1 border-0">
                  <div class="card-body p-0 pl-3">
                    <h6 class="mb-3"><b>Message our Administrators</b></h6>
                    <small
                      ><i
                        class="bx bxs-message-alt-edit"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      Send a message through the contact form</small
                    ><br />
                    <small
                      ><i
                        class="bx bxs-microphone"
                        style="color: rgb(142, 142, 225)"
                      ></i>
                      Call us, +(383) 34-391-285</small
                    >
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row justify-content-around mb-0 py-5">
          <div class="col-xl-3 col-md-6 col-sm-6 col-12 pt-4">
            <ul class="list-unstyled">
              <li class="mt-md-0 mt-4">For Companies</li>
              <li>Become a Sponsor</li>
              <li>Download brochure</li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12 pt-4">
            <ul class="list-unstyled">
              <li class="mt-md-0 mt-4">For Individuals</li>
              <li>Post your home for sale</li>
              <li>Get the license</li>
            </ul>
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6 col-12 pt-4">
            <ul class="list-unstyled">
              <li class="mt-md-0 mt-4">Our initiatiives</li>
              <li>Enablers</li>
              <li>Changemakers/ Stakeholders</li>
            </ul>
          </div>
          <div class="col-xl-auto col-md-6 col-sm-6 co-12 pt-4">
            <ul class="list-unstyled">
              <li class="mt-md-0 mt-4">We are social</li>
              <li>
                <a href="#" class="fa fa-facebook"></a
                ><a href="#" class="fa fa-twitter"></a
                ><a href="#" class="fa fa-instagram"></a
                ><a href="#" class="fa fa-linkedin"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center px-3 py-3 pt-5">
      <div class="col text-center">
        <h6 class="mb-0">
          <span>
            <img class="img-fluid" src="https://i.imgur.com/4966XGA.png" />
          </span>
          <b>DK~RealEstate</b>
        </h6>
      </div>
    </div>
  </footer>
  <hr class="colored" />
</div>
