<head>
  <link
    href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    rel="stylesheet"
  />
</head>
<body>
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav__logo">
        Real Estate <i class="bx bx-diamond"></i
      ></a>

      <!-- <p href="#" class="nav__logo" *ngIf="!isUserlogin && isAdmin">
        Real Estate <i class="bx bx-diamond"></i>
      </p> -->

      <div class="nav__menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="!isUserlogin"
              routerLink="/main"
            >
              <i class="bx bx-building-house"> </i>
              <span>Home </span>
            </a>
          </li>
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="!isUserlogin"
              routerLink="/propertyList"
            >
              <i class="bx bx-buildings"></i>
              <span> Residences </span>
            </a>
          </li>
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="!isUserlogin"
              routerLink="/sell-property"
            >
              <i class="bx bx-buildings"></i>
              <span> Purchase </span>
            </a>
          </li>
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="!isUserlogin"
              routerLink="/rent-property"
            >
              <i class="bx bx-buildings"></i>
              <span> Rent </span>
            </a>
          </li>

          <li class="nav__item">
            <a
              href="#"
              *ngIf="!isUserlogin"
              class="nav__link"
              routerLink="/about-us"
            >
              <i class="bx bx-award"> </i>
              <span>About </span>
            </a>
          </li>
          <li class="nav__item">
            <a
              class="nav__link"
              [class.disabled]="isUser"
              *ngIf="isUserlogin && !isUser"
              routerLink="/contact"
            >
              <i class="bx bx-message"> </i>
              <span>Contact messages </span>
            </a>
          </li>
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="isUserlogin && !isAdmin"
              routerLink="/add-property"
            >
              <i class="bx bx-book-add"></i>
              <span> List Property</span>
            </a>
          </li>
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              routerLinkActive="active"
              *ngIf="!isUserlogin || !isAdmin"
              routerLink="/dashboard"
            >
              <i class="bx bx-conversation"></i>
              <span> Contact</span>
            </a>
          </li>
          <!-- <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="!isUserlogin"
              routerLink="/rent-property"
            >
              <i class="bx bxs-city"></i>
              <span> Rent </span>
            </a>
          </li> -->
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              [class.disabled]="isUser"
              *ngIf="isUserlogin && isAdmin"
              routerLink="/all-user-management"
            >
              <i class="bx bx-user-circle"></i>
              <span> All Users</span>
            </a>
          </li>
          <li class="nav__item">
            <a
              href="#"
              class="nav__link"
              *ngIf="isUserlogin && isAdmin"
              routerLink="/user-management"
              style="margin-right: 50px"
            >
              <i class="bx bxs-user-account"></i>
              <span> Users</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- <div
        style="margin-bottom: 20px"
        *ngIf="isUserlogin"
        class="dropdown mr-5 position"
        dropdown
      >
        <a
          href="#"
          class="dropdown-toggle text-black"
          dropdownToggle
          (click)="(false)"
        >
          Welcome {{ user.email }}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a href="#" class="dropdown-item">
            <i class="fas fa-tachometer-alt"></i> View Dashboard</a
          >
          <a href="#" class="dropdown-item">
            <i class="far fa-user-circle"></i> My Profile</a
          >
          <a href="#" class="dropdown-item">
            <i class="fas fa-key"></i> Change Password</a
          >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/login"
            *ngIf="isUserlogin"
            (click)="onLogout()"
          >
            <i class="fas fa-sign-out-alt"></i> Logout</a
          >
        </div>
      </div> -->

      <a
        *ngIf="!isUserlogin"
        routerLink="/login"
        routerLinkActive="active"
        class="button nav__button"
      >
        Sign in
      </a>

      <div class="dropdown" *ngIf="isUserlogin" dropdown>
        <a class="dropdown-toggle text-black" dropdownToggle (click)="(false)">
          {{ user.fullName }}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a href="#" class="dropdown-item" routerLink="/profile/">
            <i class="far fa-user-circle"></i> My Profile</a
          >
          <a
            href="#"
            class="dropdown-item"
            routerLink="/property-management"
            *ngIf="isUserlogin && !isAdmin"
          >
            <i class="bx bx-book-reader"> </i>
            <span>Properties I posted</span>
          </a>

          <a
            href="#"
            class="dropdown-item"
            routerLink="/change-password/{{ user.id }}"
          >
            <i class="fas fa-key"></i> Change Password</a
          >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/login"
            *ngIf="isUserlogin"
            (click)="onLogout()"
          >
            <i class="fas fa-sign-out-alt"></i> Logout</a
          >
        </div>
      </div>

      <!-- <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          aria-current="page"
          *ngIf="!isUserlogin"
          routerLink="/register"
          >Register</a
        >
      </li> -->

      <!-- <div *ngIf="isUserlogin" class="dropdown mr-5" dropdown>
        <a
          href="#"
          class="dropdown-toggle text-black"
          dropdownToggle
          (click)="(false)"
        >
          Welcome {{ user.email }}
        </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a href="#" class="dropdown-item">
            <i class="fas fa-tachometer-alt"></i> View Dashboard</a
          >
          <a href="#" class="dropdown-item">
            <i class="far fa-user-circle"></i> My Profile</a
          >
          <a href="#" class="dropdown-item">
            <i class="fas fa-key"></i> Change Password</a
          >
          <a
            class="dropdown-item"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/login"
            *ngIf="isUserlogin"
            (click)="onLogout()"
          >
            <i class="fas fa-sign-out-alt"></i> Logout</a
          >
        </div>
      </div> -->

      <!-- <a href="#" class="button nav__button"> Sign up </a> -->
    </nav>
  </header>
  <!-- <script src="../assets/main.js"></script> -->
</body>
<router-outlet></router-outlet>
