.ng-invalid.ng-touched {
  border-color: #ff0000;
}
.error-block {
  color: red;
}

.photo-control {
  min-height: 300px;
  vertical-align: middle;
  text-align: center;
  border: 1px dashed blue;
  margin: 5px;
}

.btn-group > label[ng-reflect-btn-radio] {
  border-radius: 44px;
  padding: 0 15px;
  line-height: 30px;
}
.paragraph {
  color: rgb(96, 110, 137);
  margin-top: 20px;
}

// .border {
//   border-radius: 20px;
// }

.btn-block {
  margin-top: 15px;
  width: 100px;
  margin-right: 10px;
}

@media screen and(max-width:700px) {
  .card {
    width: 600px;
  }
}
@media screen and(max-width:1000px) {
  .cardImg {
    width: 240px;
  }
}

@media screen and(max-width:700px) {
  .cardImage {
    width: 500px;

    margin-bottom: 50px;
  }
  .cardImg {
    width: 100%;
  }
}

// @media screen and(min-width:736px) {
//   .cardImage {
//     width: 300px;
//     background-color: #ff0000;
//   }
// }
.font {
  font-family: "Popins", sans-serif;
}
