.form_values {
  margin-bottom: 20px;
}

.butoni {
  background-color: rgb(137, 153, 241);
  border: 1px;
  margin-top: 20px;
  height: 45px;
}

.butoni:hover {
  background-color: rgb(88, 88, 144);
}

.font {
  font-family: "Poppins", sans-serif;
}
