<div class="container">
  <label>Filter City: &nbsp; </label>
  <input [(ngModel)]="City" />
  <button
    type="button"
    (click)="onCityFilter()"
    class="btn btn-primary"
    style="margin-left: 15px"
  >
    Search <i class="fas fa-search" style="margin-left: 10px"></i>
  </button>
  <button 
    type="button"
    (click)="onCityFilterClear()"
    class="btn btn-outline-secondary"
    style="margin-left: 20px"
  >
    Clear
  </button>

  <label style="margin-left: 15px">Sort by &nbsp;</label>
  <select [(ngModel)]="SortbyParam">
    <option value="City">City</option>
    <option value="Price">Price</option>
  </select>
  <button
    class="btn btn-success"
    type="button"
    (click)="onSortDirection()"
    style="margin-left: 10px"
  >
    <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
  </button>

  <div class="container">
    <div class="row">
      <div
        *ngFor="
          let property of properties
            | filter: SearchCity:'City'
            | sort: [SortbyParam, SortDirection]
        "
        class="col-sm-4"
      >
        <div class="shadow-lg p-3 mb-4">
          <app-property-card [property]="property"></app-property-card>
          <!-- <button onclick="deleteProperty(property.id)">Delete</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
