<div class="container-md font">
  <form class="home__search">
    <i class="bx bxs-map"></i>
    <input
      type="search"
      placeholder="type something... "
      class="home__search-input"
    />
    <button class="button">Search</button>
  </form>

  <div class="container mt-5" style="display: inline">
    <div>
      <i
        class="bx bxs-business fa-xl iconStyle"
        style="margin-left: 50px; display: inline"
      >
        <p style="display: inline; font-size: 18px">Amazing Views</p></i
      >

      <i class="bx bx-landscape fa-xl iconStyle">
        <p style="display: inline; font-size: 18px">Camping</p>
      </i>
      <i class="bx bx-trophy fa-xl iconStyle" style="margin-right: 50px">
        <p style="display: inline; font-size: 18px">Top Hosts</p></i
      >
      <i class="bx bx-home fa-xl iconStyle">
        <p style="display: inline; font-size: 18px">Tiny houses</p>
      </i>
      <i class="bx bx-building-house fa-xl iconStyle">
        <p style="display: inline; font-size: 18px">Countryside</p>
      </i>

      <i class="bx bx-line-chart fa-xl iconStyle"
        ><p style="display: inline; font-size: 18px">High ratings</p>
      </i>
      <i class="bx bx-building fa-xl iconStyle"
        ><p style="display: inline; font-size: 18px">Apartment or Duplex</p>
      </i>
    </div>
    <hr />
  </div>

  <div class="container properties">
    <!-- <h3>All the Properties able to RENT or PURCHASE</h3> -->
    <!-- <button class="butoni btn" routerLink="/rent-property">
      <i class="bx bx-right-arrow-circle"></i>
      See properties for RENT
    </button>
    <button style="float: right" class="butoni btn" routerLink="/sell-property">
      <i class="bx bx-right-arrow-circle"></i>
      See properties for PURCHASE
    </button> -->
    <div class="row cards">
      <!--klasa col-lg-2 col-md-6 mb-2 per 6 cards ne nje row ;)-->
      <div class="col-md-3 col-xs-3" *ngFor="let property of properties">
        <app-propertyUser [property]="property"></app-propertyUser>
      </div>
    </div>
  </div>

  <!--
  <div class="container">
    <div class="row">
      <div
        *ngFor="
          let property of properties
            | filter: SearchCity:'City'
            | sort: [SortbyParam, SortDirection]
        "
        class="col-sm-4"
      >
        <div class="shadow-lg p-3 mb-4">
          <app-property-card [property]="property"></app-property-card>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>

<app-footer></app-footer>
